*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(869923.gif);
    height: 767px;
    width: auto;
    background-size: cover;
}

ul{
    float: right;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px ;
    position: relative;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
header img{
    width: 200px;
}
.logo{
    float: left;
}
ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
ul li:hover::after{
    width: 25px;
}
.text-box{
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.btn{
    margin: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
}
.btn:hover{
    border: 2px solid #f44336;
    background-color: gold;
    transition: 1s;
}
.fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
ul{
    padding: 30px;
}
.text-box-about{
    color: whitesmoke;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box-about h1{
    font-size: 60px;
}
.subs{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 100px;
}
.wrapper-color-switch{
    color: white;
}
.about{
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about h1{
    font-size: 60px;
    color: gold;
    text-decoration: dotted;
}
.about p{
    font-size: 20px;
    color: silver;
}
.about a{
    color: greenyellow;
}
.about h1 {
    font-size: 80px;
    color: gold;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .btn {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.btn:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.vid{
    width: 90%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 5px solid white;
    width: fit-content;
}

.nav:hover{
    background: white;
    height: 60px;
    transition: 1s;
}
.nav:hover ul li a{
    color: black;
    font-size: 17px;
} 
.container{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}  
form{
    background: grey;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width :600px;
    border-radius: 10px;
}
form h2{
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 20px auto 0;
    border-radius: 30px;
    margin-left: 150px;
}